OPENAI_API_KEY="sk-..."
# ---
# If you want to use Azure OpenAI, make sure to comment out the OPENAI_API_KEY and set the AZURE_OPENAI_ENDPOINT and AZURE_OPENAI_KEY accordingly.

AZURE_OPENAI_KEY="..."
AZURE_OPENAI_ENDPOINT="https://<your endpoint>.cognitiveservices.azure.com"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-realtime-1.5"
# ---
PORT=3000
